/* --FOOTER-- */

.social-media a {
    text-decoration: none;
  }
  
  .page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding: 0 10px 7rem 10px;
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7rem;
  }