@import "../abstracts/_abstracts-dir";

body {
  background-color: $body-background;
}

main {
  min-height: 100%;
  flex: 1;
  max-width: 1000px;
  text-align: left;
  padding-top: 100px;
  margin: 0 auto;
}

.content-wrap {
  padding-top: 120px;
}
