@import "../abstracts/_abstracts-dir";

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  place-items: center;
}
.profile__portrait {
  float: left;
  width: 250px;
  border-radius: 50%;
}
