@import "../abstracts/_abstracts-dir";

.profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  place-items: center;
  padding: 100px 30px 0;
}
.profile__portrait {
  float: left;
  width: 250px;
  border-radius: 50%;
  border: 5px solid $border;
}

.social-media__icon {
  margin-right: 10px;
}

@media all and (max-width: 820px) {
  .profile {
    grid-template-columns: 1fr;
  }
  .social-media {
    display: flex;
    justify-content: center;
  }
}
