// COLORS AND FONT-WEIGHTS

// FONT-WEIGHTS
$font-light: 400;
$font-bold: 700;

// COLORS
$white: #fff;
$rich-black: #0B0C10;
$dark-grey: #1f2833;
$light-grey: #c5c6c7;
$light-blue: #66fcf1;
$dark-blue: #45A29E;

// SEMANTIC COLOR NAMES

$body-background: $rich-black;
$main-font-clr: $white;
$link-clr: $light-blue;
$button-clr: $dark-blue;
$card-background-clr: $light-grey


